{% extends 'base.html.twig' %}

{% block title %}AUDIO | Modifier le compte
{% endblock %}

{% block body %}
	<div class="container col-8">
		<h2 class="myp">Modifier le compte</h2>
		{{form(form)}}
		</div>

	{% endblock %}
