{% extends 'base.html.twig' %}

{% block title %}AUDIO | Home
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Derniers sons :</h2>
	</div>
	{{include('partials/carousel.html.twig')}}
{% endblock %}
