<footer class="container text-center mt-5">
	<p class="text-muted">
		<small>
			&copy;
			{{'now'|date('Y')}}
			&middot; Built by
			<a href="https://timotheegrollier.github.io/Portfolio/#/">Timo</a>
			<i class="flaticon-outer-space-alien h5"></i>
		</small>
	</p>
</footer>
