#account {
    height: 80%;
    h3 {
        color: $my-purple;
    }
    a {
        color: black;
        .card {
            background: #b9b9b9 !important;
        }
        img {
            object-fit: cover;
            height: 150px;
            width: 150px;
            @media screen and(max-width:350px) {
                height: 100px;
                width: 100px;
            }
        }
    }
}
