body {
    background: $gray-400;
    height: 100vh;
}
a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.homeText {
    color: $my-purple;
}

#blah {
    display: none;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
