*{
    font-family: 'Roboto';
}

body {
    background: $gray-400;
    height: 100vh;
}
a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.homeText {
    color: $my-purple;
}

// Preview image
#imgPreview {
    display: none;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
// EDIT
.vich-image {
    img {
        width: 200px;
        height: 200px;
    }
}

