#listen {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .audio-player {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 60%;
        img {
            object-fit: cover;
        }
        audio {
            position: absolute;
            bottom: 10px;
            @media screen and (max-width: 310px) {
                width: 100%;
            }
        }
    }
}
