#selectType {
    display: flex;
    align-items: center;

    #form {
        width: 100%;
        @extend .mb-3;
    }
}

.sounds-list {
    p {
        margin: 0 !important;
    }
    display: grid;
    grid-template-rows: 1fr;
    .sound-card {
        display: grid !important;
        background: #b9b9b9 !important;
        grid-template-rows: 15% 85%;
        grid-template-columns: 60% 40%;
        grid-template-areas:
            "h h"
            "i if";
        align-items: center;
        justify-items: center;

        .card-header {
            grid-area: h;
            display: flex;
            justify-content: center;
            height: 100% !important;
            p {
                @media screen and(max-width:576px) {
                    font-size: 0.8rem;
                }
            }
        }

        a {
            border: 4px rgba(255, 255, 255, 0.925) solid;
            overflow: hidden;
            height: 180px;
            width: 180px;
            @media screen and (max-width: 576px) {
                height: 100px;
                width: 100px;
            }
        }
        img {
            object-fit: cover;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .pagination {
        justify-content: flex-end;
    }
}
