.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    audio {
        position: absolute;
    }
    .delete-btn {
        position: absolute;
        bottom: 0;
    }
}
