.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-width: 576px) {
        max-height: 60%;
    }

    audio {
        position: absolute;
        bottom: 10px;
    }
}
